################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database1/obj/Debug
/Database1/Import Schema Logs
/Database1/Database1.sqlproj.user
/Database1/Database1.sqlproj
/Database1/Database1.dbmdl
